@model IEnumerable<PanamaPrintApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h4>Журнал выполненных работ</h4
>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumables)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumables)
            </td>
            <td>
                @if (User.IsInRole("Администратор"))
                {
                    <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger">Удалить</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
