@model IEnumerable<PanamaPrintApp.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<header>
    <p align="right">
        @if (User.IsInRole("Администратор"))
        {
            <a asp-action="Create" class="btn btn-dark">Добавить компанию</a>
        }
        <a asp-action="index" asp-controller="Order" class="btn btn-dark">Журнал всех выполненных работ</a>
    </p> 
</header>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.INN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                <p align="right">
                    <a asp-action="Create" asp-controller="Order" asp-route-id="@item.CompanyId" class="btn btn-dark">Записать работу в журнал</a>
                    <a asp-action="CompanyOrder" asp-controller="Order" asp-route-id="@item.CompanyId" class="btn btn-dark">Журнал выполненных работ</a>
                </p>

                @if (User.IsInRole("Администратор"))
                {
                    <p align="right">
                        <a asp-action="Edit" asp-route-id="@item.CompanyId" class="btn btn-primary" style="width:auto">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.CompanyId" class="btn btn-danger" style="width:auto">Удалить</a>
                    </p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
