@model IEnumerable<Price>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Администратор"))
{
    <div align="right">
        <p>
            <a asp-action="Create" class="btn btn-dark">Добавить позицию</a>
        </p>
    </div>

    <div align="right">
        <form asp-action="ExcelView" asp-controller="Price" method="post" enctype="multipart/form-data">
            <input type="file" name="file" /><br />

            <input type="submit" value="Загрузить"/>
        </form>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServicePrice)
                </td>
                <td>
                    @if (User.IsInRole("Администратор"))
                    {
                        <p align="right">
                            <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-primary" style="width:auto">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-danger" style="width:auto">Удалить</a>
                        </p>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
